.dealer__cnt {
    display: flex;
    margin-bottom: 150px;
}

.dealer__left {
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    width: 50%;
    gap: 60px;
}

.dealer__left h3 {
    color: #1C1A1A;
    font-family: TT Norms;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 120% */
}

.dealer__left p {
    width: 556px;
    color: #1C1A1A;
    font-family: TT Norms;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 155.556% */
}

.dealer__left a {
    color: #F9443B;
    font-family: TT Norms;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dealer__right__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 678px;
    height: 470px;
    border-radius: 10px;
    background: #1C1A1A;
    margin-top: 10%;
}

.dealer__right__img img {
    width: 638px;
    height: 430px;
}

.dealer__right__p {
    width: 185px;
    color: #FFF;
    font-family: TT Norms;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 50%;
    padding-top: 267px;
}

.dealer__right {
    position: relative;
}

.dealer__right__red__line {
    right: -11.5%;
    position: absolute;
    width: 999px;
    height: 840px;
}