html{
    box-sizing: border-box;
}

@import url('../../fonts/TTNorms-Medium.otf');
body{
  margin: 0px;
  font-family:  Arial, Helvetica, sans-serif, TTNorms;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

p,
dd,
dl,
figure,
blockquote {
  margin: 0;
}
blockquote, 
q {
  quotes: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

audio,
video {
  display: block;
}

img {
  display: block;
  border: none;
  /* max-width: 100%; */
} 

iframe {
  border: none;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

.container{
    padding: 0px 5px;
    max-width: 1366px;
    margin: 0px auto;
    height: 100%;
    box-sizing: content-box;
    overflow: hidden;
}

.wrapper {
  margin: 0px auto;
  height: 100%;
  overflow: hidden;
}

@font-face { 
  font-family: 'TTNorms';
  src: url("../../fonts/TTNorms-Medium.otf");
  }
